@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    background-color: black;
    color: white;
    /* border: 2px solid firebrick; */
}

.flex {
    display: flex;
}

.primary-color {
    color: rgb(230, 83, 60);
}

.primary-bg-color {
    background-color: rgb(230, 83, 60);
}

header {
    background-image: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

nav {
    margin: 30px auto;
    width: 80%;
    /* border: 1px solid saddlebrown; */
}

nav>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div li {
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
}

nav div ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.nav-list2 {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.fitness {
    font-size: 36px;
    font-weight: 800;
}

.home {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 39px;
    width: 92px;
    margin: 5px;
}

list-stye {
    justify-content: space-around;
}

.menu-icon {
    visibility: hidden;
}

.hamburger {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

.banner-section {
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid saddlebrown; */
}

.banner-info {
    width: 40%;
}

.banner-heading {
    font-weight: 900;
    font-size: 60px;
    padding-bottom: 20px;
    padding-top: 70px;
}

.banner-pera {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    padding-bottom: 20px;
}

.shape {
    font-family: "Corinthia", cursive;
    font-weight: 900;
    font-size: 96px;
}

.banner-btn {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    height: 50px;
    width: 200px;
    border-radius: 35px;
    border: none;
}

.btn {
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
}

.token {
    position: absolute;
    width: 170px;
    height: 90px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    margin-left: -140px;
    margin-top: 135px;
}

.token2 {
    position: absolute;
    width: 170px;
    height: 90px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    margin-left: -370px;
    margin-top: 390px;
}

.token-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.primary-width {
    margin: 30px auto;
    width: 80%;
}

.habit-card{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.heading-pera {
    text-align: center;
    margin-top: 40px;
}

.habit-heading{
    font-size: 3em;
    font-weight: 800;
    line-height: 120%;
    padding-bottom: 12px;
}

.habit-pera{
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 20px;
}

/* start card css */
.card{
    display: flex;
    justify-content: center;align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.color{
    color: white;
}

.card-img{
    margin-bottom: 10px;
    border-radius: 50%;
}

.card-section{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

/* start run css */
.run-section{
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
    margin-top: 90px;
}

.run-info{
    text-align: left;
    width: 50%;
}

.run-img{
    width: 50%;
}

.run-img-inner{
    width: 100%;
}

.run-flex{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 3em;
}

/* team-section */
.img-width{
    width: 100%;
    height: 250px;
}

.team-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 30px;
    background-color: rgb(34, 34, 34);
}

.team-token{
    backdrop-filter: initial;
    background: none;
    border: none;
    margin-top: 160px;
    margin-left: -350px;
}
/* footer */
.footer{
    background-color: rgb(34, 34, 34);
    margin-top: 100px;
}

.footer-info{
    width: 80%;
    margin: 0 auto;
    padding-top: 60px;
}

footer div ul li{
    list-style: none;
}

.footer-flex{
    display: flex;
    justify-content: space-around;
}

hr{
    margin-top: 50px;
    margin-bottom: 10px;
}

.footer-fitness{
    width: 50%;
}
@media screen and (max-width: 576px) {
    .nav-list {
        display: none;
    }

    .menu-icon {
        visibility: visible;
    }

    .banner-section {
        flex-direction: column;
    }

    .banner-info {
        width: 100%;
    }

    .banner-heading {
        font-weight: 600;
        font-size: 48px;
        padding-bottom: 20px;
        padding-top: 30px;
    }

    .banner-btn {
        margin-bottom: 10px;
    }

    .token {
        margin-left: 185px;
        margin-top: -520px;
    }

    .token2 {
        margin-left: 1px;
        margin-top: -270px;
    }

    /* card section */
    .card-section, .run-flex{
        flex-direction: column;
    }

    /* run section */
    .run-flex{
        padding: 20px;
    }

    .run-section{
        margin-top: 50px;
    }
    .run-info{
        text-align: left;
        width: 100%;
    }

    .run-img{
        width: 100%;
    }

    /* team section */
    .team-img{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        padding: 10px;
    margin-top: 20px;
    }
    .team-token{
        margin-top: 160px;
    margin-left: -310px;
    }

    /* footer */
    .footer-flex{
        flex-direction: column;
    }

    .footer{
        margin-top: 40px;
    }

    .footer-fitness{
        width: 100%;
    }

    .footer-info{
        padding-top: 40px;
    }
}